<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h6 class="bold-case">Soporte</h6>
        <ul class="list-unstyled">
          <li>
            <a href="javascript:void(0)">Centro de soporte</a>
          </li>
          <li>
            <a href="javascript:void(0)">Contáctanos</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h6 class="bold-case">Acerca de BuB</h6>
        <ul class="list-unstyled">
          <li>
            <a href="javascript:void(0)">Acerca de nosotros</a>
          </li>
          <li>
            <a href="javascript:void(0)">Blog</a>
          </li>
          <li>
            <a href="javascript:void(0)">Legales</a>
          </li>
          <li>
            <a href="javascript:void(0)">Términos y condiciones</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 social">
        <h6 class="bold-case">Redes sociales</h6>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript:void(0)"><i class="fa fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row copy">
      <div class="col-12">
        <p>© Copyright 2020 Marketplace BuB</p>
      </div>
    </div>
  </div>
</footer>