<!-- navbar header -->
<header class="navbar">
  <nav class="container">
    <a class="navbar-brand" href="juegos"><i class="icon-bub text-sunflower"></i>BUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-2">
        <!-- <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="juegos">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="key">Carga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productos">gestión de productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Ayuda</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            <strong><%= nombre %> <%= apellido %></strong>
          </a>
        </li>
        <li class="nav-item">
          <img src="assets/misc/morgado.jpg" alt="">
        </li>
        <li class="nav-item">
          <a href="carrito" class="nav-link cart">
            <i class="material-icons">shopping_cart</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- /.navbar header -->