<div id="carouselHome" class="carousel slide" data-ride="carousel">
  <div class="custom-caption">
    <h2 class="custom-caption-title">50%</h2>
    <small class="custom-caption-text">en juegos seleccionados</small>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
    <li data-target="#carouselHome" data-slide-to="1"></li>
    <li data-target="#carouselHome" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <a href="detalle/0" class="carousel-item active" style="background-image: url('<%= gameList[0].background_image %>');">
    </a>
    <a href="detalle/1" class="carousel-item" style="background-image: url('<%= gameList[1].background_image %>');">
    </a>
    <a href="detalle/2" class="carousel-item" style="background-image: url('<%= gameList[2].background_image %>');">
    </a>
  </div>
  <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>