//Custom variables and definitions must go before bootstrap-sass stylesheets
// --------------------------------------------------
@import "variables";
@import "mixins";
@import "fontface";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

// --------------------------------------------------
html,body {
  width: 100%;
  height: 100%;
}
body {
  margin-top: 5rem;
  font-family: $font;
  background-color: $black;
  color: $pink;
  font-size: 14px;
  &.error {
    margin-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
}

.hover,
a,
button {
  @include transition(all .5s ease);

  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

button.btn {
  @extend .text-uppercase;
}

.input-group-append,
.input-group-preppend {
  .fa {
    padding-top: 10px;
  }
}

.title {
  @extend .h4;
  @extend .text-uppercase;
}

.text-small,
.text-small p {
  font-size: 85%;
}

.lighten {
  opacity: .7;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-screen {
  @extend .d-flex;
  @extend .justify-content-center;
  margin: auto;
  margin-top: 5%;
  .form-group {
    @extend .mb-3;
  }
  .message.invalid-feedback {
    margin-bottom: 0.5em;
  }
}

.navbar {
  @extend .navbar-expand-lg;
  @extend .fixed-top;
  @extend .navbar-dark;
  @extend .bg-black;
  @extend .mb-4;
  .navbar-nav {
    &.mr-auto {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $pink;
        .nav-link {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .nav-link {
      color: $white;
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px;
      &.cart {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-sm;
        i {
          position: relative;
          top: 3px;
          font-size: 1.2rem;
        }
      }
    }
  }
  .navbar-brand {
    font-family: $font-brand;
    font-size: 35px;
    letter-spacing: 1.5px;
  }
}

.input-group {
  i {
    color: $white;
  }
}

.dinamic-img-bg {
  @include background(center, no-repeat, cover);
  @include border-radius(0);
  height: 180px;
  position: relative;
}

.cta {
  padding: 0 10px;
}

.bold-case {
  @extend .text-uppercase;
  font-family: $font-bold;
}

.custom-card-wrapper {
  > * {
    @extend .my-1;
  }
  .single {
    @extend .col-12;
    @extend .col-md-4;
    .card {
      @extend .bg-greenapple;
    }
  }

  .medium {
    @extend .col-12;
    @extend .col-md-6;
    .card {
      @extend .bg-pink;
    }
  }

  .full {
    @extend .col-12;
    .card {
      @extend .bg-primary;
    }
  }

  .card {
    min-height: 10rem;
    @extend .p-2;
    @extend .my-2;
  }
}

.badge-secondary {
  color: $black;
}

a, .btn, .btn-group {
  i.material-icons {
    font-size: inherit;
    position: relative;
    top: 2px;
  }
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(#{$game-card-height} + 7rem);
    &.hover {
      .card {
        max-height: $card-end-height;
      }
    }
    @include media-breakpoint-up(xs) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(lg) {
      width: 20%;
    }
    //xs - md - lg - xl
    .card {
      @include border-radius(0);
      transition: all 0.3s ease-out;
      //min-height: 255px;
      width: 100%;
      margin: 10px;
      max-height: $card-start-height;
      height: auto;
      overflow: hidden;
      margin-bottom: 2rem;
      border-color: $pink;
      .card-img {
        @extend .dinamic-img-bg;
      }

      .card-body {
        background-color: $black;
        color: $pink;
        padding: 10px 12px;
        .price {
           @extend .d-flex;
           @extend .justify-content-between;
           text-transform: uppercase;
           padding-bottom: .5rem;
           border-bottom: 1px dashed transparentize($pink, .5);
           margin-bottom: .85rem;
          .value {
            @extend .d-flex;
            @extend .flex-column;
            p {
              margin-bottom: 0;
              font-family: $font-bold;
            }
            .discount {
              position: relative;
              top: -5px;

              small {
                text-decoration: line-through;
              }
            }
          }
          i {
            @extend .align-self-start;
            font-size: 1.25rem;
            padding: 7px;
            background-color: lighten($black, 5);
            @include border-radius(50%);
            position: relative;
          }
        }
        .legend {
          margin: 0;
          font-family: $font-italic;
        }
      }

      .card-title {
        position: absolute;
        color: $pink;
        background-color: $black;
        padding: 8px 12px;
        bottom: 0;
        margin: 0;
        font-size: 80%;
        text-transform: uppercase;
        font-family: $font-semibold-italic;
      }
    }
  }
}

/* Modificacion Ari */

/* Key page */

.validaKey {
  .ingresaKey {
    margin-top: 25px;

    .validaKey {
      margin-left: 10px;
    }
  }

  .avisoImportante {
    margin-top: 40px;
  }
}

/* Carga page */
#accordion {
  margin-top: 3rem;
  .card {
    background-color: $clear;
    border: none;
    .card-header {
      background-color: lighten($black, 5);
      button {
        color: $pink;
      }
    }
    .card-body {
      i {
        font-size: inherit;
      }
      a:not(.badge) {
        i {
          @extend .text-secondary;
        }
      }
    }
    .hero-wrapper {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.img-wrapper,
.img-wrapper img {
  width: 100%;
}
/* Detalle page */

.tituloRequisitos,
.tituloComentarios {
  margin-bottom: 20px;
  margin-top: 10px;
}

.product-detail {
  padding: 10px;
  margin: 10px;

  .top-content {
    padding-top: 15px;

    .filters {
      display: flex;
      justify-content: flex-start;
      margin: 0px;

      .carousel-indicators {
        position: relative;
        margin: 0px;
        justify-content: flex-start;
        button {
          margin: 15px 10px 10px 0px;
          i {
            padding-top: 5px;
          }
        }
      }
    }
  }

  .product-overview {
    margin-top: 15px;

    img {
      width: 100%;
    }
  }
}

.video {
  .carousel-control-prev,
  .carousel-control-next {
    height: 2rem;
    top: 50%;
    width: 2rem;
  }

  .carousel-control-prev {
    margin-left: 2rem;
  }

  .carousel-control-next {
    margin-right: 2rem;
  }
}

.overview-data {
  .product-title {
    margin: 1rem 0;
    font-family: $font-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
  }
  .btn-group,
  .price {
    padding: 10px;
    align-items: center;

  }

  .price {
    > * {
      margin: 0px;
    }
  }

  .LinkDemo {
    display: flex;
    align-items: center;
  }
}
.tituloJuego{
  display: flex;
  
}

.screenshots {
  margin-top: 1rem;
  @include media-breakpoint-up(xs) {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    width: 90%;
  }
  .col {
    padding-right: 0;
  }
  img {
    width: 100%;
  }
}

.hero-wrapper {
  margin: 1rem 0;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  .hero-item {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    .rating {
      text-transform: capitalize;
    }
    .hero-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;
      p {
        margin-bottom: 0;
      }
    }
  }
  h4,
  .alert {
    margin: 0;
    font-family: $font-bold;
    &.alert-pink {
      text-align: center;
      // @include border-radius(50%);
      background-color: $pink !important;
      color: $primary !important;
      border: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &.emoji {
    padding: 0;
  }
  &.bg {
    background-color: transparentize($primary, .5);
  }
  .comment {
    padding-bottom: 1rem;
    margin: 2rem 0;
    border-bottom: 1px dashed transparentize($primary, .2);
  }
}

/* Fin modificacion Ari*/
.cart-wrapper {
  padding: 1rem;
  background-color: lighten($black, 5);
  margin: 1rem 10px;
  .in-cart {
    @extend .d-flex;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dashed transparentize($pink, .5);

    .img-wrapper {
      @extend .dinamic-img-bg;
      height: 175px;
    }

    .in-cart-title {
      @extend .bold-case;
      @extend .mb-3;
    }

    .price {
      @extend .align-self-end;
      @extend .text-right;
      strong {
        @extend .bold-case;
      }
    }
  }
  .purchase {
    @extend .d-flex;
    @extend .justify-content-between;
  }
  p {
    margin-bottom: 0;
  }
}

footer {
  @extend .w-100;
  @extend .bg-primary;
  padding: 2rem 0;
  h6 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed transparentize($pink, .5);
  }
  a {
    @extend .text-pink;
  }
  .social {
    a > i {
      font-size: 1.25rem;
      padding-right: 1rem;
    }
  }
  .copy {
    margin-top: 2rem;
  }
}