//Custom variables and definitions must go before bootstrap-sass stylesheets
// --------------------------------------------------
@import "variables";
@import "mixins";
@import "fontface";
@import "../../node_modules/font-awesome/scss/font-awesome.scss"; // --------------------------------------------------
html,body {
  width: 100%;
  height: 100%;
}
body {
  margin-top: 5rem;
  font-family: $font;
  background-color: $black;
  color: $white;
}

/* Modificacion Ari */

.segunda {
  margin-top: 25px;
  .infoBase {
    margin-top: 20px;
  }
  .IzqColumna {
    .puntaje {
      display: flex;
      justify-content: center;
    }
  }
  .DerColumna {
    .imagen {
      img {
        width: 100%;

      }
    }
    .cambiarImg {
      margin-top: 20px;
      margin-left: 10px;
    }
  }
}


.top-content {
  padding-top: 15px;
  .filtros {
    display: flex;
    justify-content:flex-start;
    margin: 0px;
    .carousel-indicators {
      position: relative;
      margin: 0px;
      justify-content: flex-start;
      .trailer , .gameplay , .honest {
        padding: 15px 10px 10px 0px;
      }
    }
  }
}


.infoPrincipal {
  margin-top: 15px;
  img {
    width: 100%;
  }
}

.infoImportante {
  .btn-group, .precio {
    padding: 10px;
    align-items: center;
  }

  .LinkDemo {
    display: flex;
    align-items: center;
  }
}

.resenas {
  margin: 20px;
  width: 100%;
  .resena {
    display: flex;
    flex-direction: row;
    padding: 20px;
    .puntaje {
      display: flex;
      justify-content: center;
    }
  }
}

section {
  margin: 10px;
  .tituloRequisitos , .tituloComentarios {
    margin-bottom: 20px;
    margin-top: 10px;
   }
}
/* Fin modificacion Ari*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
}

.hover,
a,
button,
i {
  @include transition(all .5s ease);

  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

.input-group-append,
.input-group-preppend {
  .fa {
    padding-top: 10px;
  }
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-screen {
  @extend .d-flex;
  @extend .justify-content-center;
  margin: auto;
  margin-top: 5%;
  .form-group {
    @extend .mb-3;
  }
  .message.invalid-feedback {
    margin-bottom: 0.5em;
  }
}

.navbar {
  @extend .navbar-expand-lg;
  @extend .fixed-top;
  @extend .navbar-dark;
  @extend .bg-black;
  @extend .mb-4;
  .navbar-nav {
    &.mr-auto {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $pink;
        .nav-link {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .nav-link {
      color: $white;
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .navbar-brand {
    font-family: $font-brand;
    font-size: 35px;
    letter-spacing: 1.5px;
  }
}

.input-group {
  i {
    color: $white;
  }
}

.custom-card-wrapper {
  > * {
    @extend .my-1;
  }
  .single {
    @extend .col-12;
    @extend .col-md-4;
    .card {
      @extend .bg-greenapple;
    }
  }

  .medium {
    @extend .col-12;
    @extend .col-md-6;
    .card {
      @extend .bg-pink;
    }
  }

  .full {
    @extend .col-12;
    .card {
      @extend .bg-primary;
    }
  }

  .card {
    min-height: 10rem;
    @extend .p-2;
  }

  @include media-breakpoint-between(xs, md) {
    .card {
      margin-top: 1em;
    }
  }
}
.custom-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include media-breakpoint-up(xs) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(lg) {
      width: 20%;
    }
    //xs - md - lg - xl
    .card {
      width: 100%;
      margin: 10px;
    }
  }
}

.card {
  @include border-radius(0);
  min-height: 255px;
  margin-bottom: 2rem;
  border-color: $pink;
  .card-img {
    @include background(center, no-repeat, cover);
    @include border-radius(0);
    height: 180px;
    position: relative;
  }
  .card-body {
    background-color: $black;
    color: $pink;
  }
  .card-title {
    position: absolute;
    color: $pink;
    background-color: $black;
    padding: 8px 12px;
    bottom: 0;
    margin: 0;
    font-size: 80%;
    text-transform: uppercase;
    font-family: $font-semibold-italic;
  }
}
