<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <!-- navbar header -->
  <%- include('../partials/header') %>
  <!-- /.navbar header -->

  <!-- home content -->
  <div class="container">
    <div class="row custom-card-wrapper">
      <div class="single">
        <div class="card">

        </div>
      </div>
      <div class="single">
        <div class="card">

        </div>
      </div>
      <div class="single">
        <div class="card">

        </div>
      </div>
      <div class="medium">
        <div class="card">

        </div>
      </div>
      <div class="medium">
        <div class="card">

        </div>
      </div>
      <div class="full">
        <div class="card custom-card"></div>
      </div>
    </div>
    <button class="btn btn-danger text-light">Entrar</button>
  </div>
  <!-- /.home content -->

  <%- include('../partials/scripts') %>
</body>

</html>
