<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="login">
    <!-- navbar header -->
    <%- include('../partials/navbar') %>
    <!-- /.navbar header -->

    <!-- home content -->
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-4 login-screen">
          <div id="logo-container"></div>
          <form action="#home" id="loginForm" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group">
                <input class="form-control" type="email" name='email' id='email' tabindex="2" />
                <span class="input-group-append"><i class="input-group-text fa fa-envelope"></i></span>
              </div>
              <div class="message invalid-feedback email">
                <small class="">Email inexistente</small>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <div class="input-group">
                <input class="form-control" type="password" name='password' id='password' tabindex="3" />
                <span class="input-group-append"><i class="input-group-text fa fa-lock"></i></span>
              </div>
              <div class="message invalid-feedback password">
                <small class="">Clave incorrecta</small>
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Recordar usuario
              </label>
            </div>
            <div class="form-group">
              <button type="button" id="loginSubmit" class="btn btn-default btn-block" tabindex="4">Iniciar Sessión</button>
            </div>
            <div class="form-group text-center">
              <p>¿Ya tienes tu cuenta?</p>
              <a href="/users/create" tabindex="5">Registrate</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.home content -->

    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
  </body>
</html>
