<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
</head>

<body>

	<!-- navbar header -->
	<%- include('../partials/navbar') %>
	<!-- /.navbar header -->

	<!-- home content porque no trae imagen lala -->
	<section class="container margin-bottom-xl">
		<div class=" row">
			<div class="col-12">
				<h4>CARGA DE PRODUCTO</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6">
				<form action="key" method="GET">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Llave del producto" aria-label="" aria-describedby="basic-addon1" id="id" name="id">
						<div class="input-group-append">
							<button class="btn btn-pink" type="submit">Validar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-12 col-md-6">
				<h4>IMPORTANTE</h4>
				<p>Una vez validada la llave de producto se mostrará el detalle del juego correspondiente y debes confirmar la
					mostrarlo en la biblioteca.</p>
			</div>
		</div>
	</section>

	<%- include('../partials/footer') %>

	<%- include('../partials/scripts') %>
</body>

</html>