<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    
    <!-- navbar header -->
    <%- include('../partials/header') %>
    <!-- /.navbar header -->

    <!-- home content porque no trae imagen lala -->
    <section>

        <div class="validaKey container">

            <div class=" row">

                <div class="col-12">

                    <h1>CARGA DE PRODUCTO</h1>

                </div>

                <div class="ingresaKey col-12">

                    <form action="" method="GET">

                        <label for="key">
                            <h5>LLAVE DE PRODUCTO</h5>
                        </label> <br>
                        <input type="text" id="key" name="key" style="width: 35%;">
                        <input class="validaKey" type="submit" value="Validar">

                    </form>

                </div>

                <div class="avisoImportante col-12">

                    <h3>IMPORTANTE</h3> <br>

                    <p>Una vez validada la llave de producto se mostrará el detalle del juego correspondiente y debes confirmar la carga para poder mostrarlo en la biblioteca.</p>

                </div>

                

            </div>

            

        </div>
    </section>
</body>
</html>