<!doctype html>
<html lang="en">

<head>
  <title>ERROR</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/material-icons.css">
  <link rel='stylesheet' href='css/main.css' />
</head>

<body class="error">

  <!-- home content -->
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 h-100 d-flex align-items-center justify-content-center flex-column">
        <img src="https://media.giphy.com/media/4560Nv2656Gv0Lvp9F/giphy.gif" alt="">
        <h4 class="text-center mt-2">This is not the place you're looking for!</h4>
        <a href="products" class="text-secondary"><i class="material-icons">arrow_forward</i> ir a HOME <i class="material-icons">arrow_back</i></a>
      </div>
    </div>
  </div>
  <!-- /.home content -->

  <%- include('../partials/scripts') %>
</body>

</html>
